.article {
  padding: 0 25px;
  max-width: 760px;
  font-size: 28px;
  font-weight: 400;
}

.article img {
  max-width: 100%;
}

.article p,
.article blockquote,
.article ul {
  line-height: 1.4;
  margin: 1.2em 0;
}

.article p:first-child,
.article blockquote:first-child,
.article ul:first-child,
.article video:first-child,
.article img:first-child {
  margin-top: 0;
}

.article h1 {
  line-height: 1.2;
  font-size: 30px;
  font-weight: 700;
}

.article h2 {
  font-size: 30px;
  font-weight: 700;
  margin-top: 2em;
}

.article h3 {
  font-size: 28px;
  font-weight: bold;
  margin-top: 1em;
}

.article h4 {
  font-weight: bold;
  margin-top: 0.4em;
}
