.article {
  padding: 0 25px;
  max-width: 760px;
  font-size: 24px;
}

.article img {
  max-width: 100%;
}

.article p,
.article blockquote,
.article ul,
.article video,
.article img {
  line-height: 1.5;
  margin: 1.5em 0;
}

.article p:first-child,
.article blockquote:first-child,
.article ul:first-child,
.article video:first-child,
.article img:first-child {
  margin-top: 0;
}

.article h1 {
  line-height: 1.2;
  font-size: 48px;
  font-weight: bold;
}

.article h2 {
  font-size: 36px;
  font-weight: bold;
  margin-top: 2em;
}

.article h3 {
  font-size: 28px;
  font-weight: bold;
  margin-top: 1em;
}

.article h4 {
  font-weight: bold;
  margin-top: 0.4em;
}
