.project {
  background: gray;
  position: relative;
  padding-bottom: 56.25%;
}

.project:hover .project__title {
  opacity: 1;
}

.project__cover-image {
  width: 100%;
  height: 100%;
  position: absolute;
}

.project__title {
  color: white;
  background: rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 24px;
  padding: 10px;
  margin: 15px;
  opacity: 0;
}

.project__link {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
}
